html{
    background-color:gray ;
}
body{
    background-color:white;
    width:800px;
    height:800px;
    border-color: red;
    border-width: 10px;
}
.row{
    height:100px;
    width:800px;
}
.box{
    float: left;
    background-color: black;
    width:100px;
    height: 100px;
}
.small{
    float: left;
    background-color: white;
    width: 100px;
    height: 100px;
}
